
<div class="hidden_box">
    <label for="label1">シーンから探す</label>
    <input type="checkbox" class="hidden_check" id="label1"/>
    <div class="hidden_show">
      <!--非表示ここから-->     
      	<%= form_tag({controller:"posts",action:"search"}, method: :get) do %>
            <% Jenre.all.each do |t| %>
                <li><%= check_box :jenre_ids, t.name %><%= t.name %></li>
            <% end %>
            <%= submit_tag '検索' %>
        <% end %>
      <!--ここまで-->
    </div>
</div>
