
<div class="hidden_box">
    <label for="label2">エリアから探す</label>
    <input type="checkbox" class="hidden_check" id="label2"/>
    <div class="hidden_show">
      <!--非表示ここから--> 
      	
      <!--ここまで-->
    </div>
</div>
