<p>投稿一覧</p>


	
<!--tag検索-->
<%= render 'public/posts/jenre_search' %>
<%= render 'public/posts/place_search' %>
<%= render 'public/posts/category_search' %>

 
<%= render 'public/posts/index',posts: @posts %>