// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.grid{
  width: 94vw;
  margin: 0 auto 3rem;
  display: grid;
  gap: 2vw;
  gird-template-columns: repeat(2,46vw);
  gird-template-rows: repeat(8,46vw);
}
