// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.card-img-top {
    max-width: 100%;
    height: 15vw;
    object-fit: cover;
}

// いいね
.like-btn {
 font-size: 25px;
 color: #808080; 
 margin-left: 10px;
 }

.unlike-btn {
 font-size: 25px;
 color: #e54747;
 margin-left: 10px;
 }


// tag関連
.name-tag {
    background-color: #bbb;
    padding: 5px;
    margin-right: 1rem;
    border-radius: 5px;
}



// 検索フォーム
.hidden_box {
    margin: 0;
    padding: 0;
}

.hidden_box label {
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
}

.hidden_box label:hover {
    background: #efefef;
}

.hidden_check {
    display: none;
}

.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.hidden_box input:checked ~ .hidden_show {
    padding: 20px 0;
    height: auto;
    opacity: 1;
}

//投稿フォーム
.post-form {
	width: 60%;
	margin: 0 auto;
}
.post-field{
  position: relative;
  width: 80%;
  margin: 40px 3%;
}
.text-box {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  letter-spacing: 1px;
  padding-left: 4em;
  transition: 0.4s;
  border: 1px solid #cccccc;
  background: transparent;
}
.text-box:focus {
    outline: none;
}
.focus-box:before,
.focus-box:after {
    position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 2px;
	content: '';
	transition: 0.3s;
	background-color: #da3c41;
}
.focus-box:after{
    top: auto;
	right: 0;
	bottom: 0;
	left: auto;
}
.focus-box i:before,
.focus-box i:after {
    position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 0;
	content: '';
	transition: 0.4s;
	background-color: #da3c41;
}
.focus-box i:after{
    top: auto;
	right: 0;
	bottom: 0;
	left: auto;
}
.text-box:focus ~ .focus-box:before,
.text-box:focus ~ .focus-box:after,{
    width: 100%;
	transition: 0.6s;
}
.text-box:focus ~ .focus-box i:before,
.text-box:focus ~ .focus-box i:after,{
    height: 100%;
	transition: 0.7s;
}
.text-box ~ label {
	position: absolute;
	z-index: -1;
	top: 10px;
	left: 14px;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
.text-box:focus ~ label{
	font-size: 12px;
	top: -18px;
	left: 14px;
	transition: 0.3s;
	color: #da3c41;
}