// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.headline{
  border-bottom: 2px solid #8899a6;
  margin: 1rem 0.5rem 1rem 0.5rem;
}

// プレビュー
#post_images > img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}
// カード
.post-index{
	margin: 0.5rem;
}

.card-img-top {
    max-width: 100%;
    object-fit: cover;
}
.card-body{
	position: absolute;
	width: 100%;
	bottom: 0px;
	background-color: rgba(50,50,75,0.6);
	padding: 0.5rem;
}
.card-title{
	margin-top: 0.5rem;
}
.card-icon{
	display: flex;
	margin-right: 1rem;
}
.show-image{
	width: 100%;
}

.icon{
  text-decoration: none;
  color: #98a9b6;
  font-size: 18px;
  margin-left: 0.1rem;
}
// いいね
.like-btn {
 font-size: 25px;
 color: #98a9b6; 
 margin-left: 10px;
 }

.unlike-btn {
 font-size: 25px;
 color: #f05060;
 margin-left: 10px;
 }
 
 //コメント
 .comment-icon{
  font-size: 25px;
  color: #98a9b6;
  margin-left: 15px;
 }


// tag関連
.name-tag {
	  font-size: 12px;
    background-color: #293744;
    color: #e8eaed;
    padding: 5px;
    margin-right: 0.5rem;
    border-radius: 5px;
}
// showページ
.img-box{
  position: sticky;
  top: 10rem;
}
.slider-show{
  width: 100%;
}
.slider-show img{
  width: 100%;
  border-radius: 3%;
}
.post-profile-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
// コメント
.comment-delete{
  text-decoration: none;
  margin-left: 2rem;
  color: #1da1f2;
}


//投稿フォーム
.post-form {
	width: 60%;
	margin: 0 auto;
}
.post-field{
  position: relative;
  width: 80%;
  margin: 40px 3%;
}
.text-box {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  letter-spacing: 1px;
  padding: 0 4rem 0 6rem;
  transition: 0.4s;
  border: 1px solid #cccccc;
  background: transparent;
}
.text-box:focus {
  outline: none;
}
.focus-box:before,
.focus-box:after {
  position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 2px;
	content: '';
	transition: 0.3s;
	background-color: #1da1f2;
}
.focus-box:after{
  top: auto;
	right: 0;
	bottom: 0;
	left: auto;
}
.focus-box i:before,
.focus-box i:after {
  position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 0;
	content: '';
	transition: 0.4s;
	background-color: #1da1f2;
}
.focus-box i:after{
  top: auto;
	right: 0;
	bottom: 0;
	left: auto;
}
.text-box:focus ~ .focus-box:before,
.text-box:focus ~ .focus-box:after,{
  width: 100%;
	transition: 0.6s;
}
.text-box:focus ~ .focus-box i:before,
.text-box:focus ~ .focus-box i:after,{
  height: 100%;
	transition: 0.7s;
}
.text-box ~ label {
	position: absolute;
	z-index: -1;
	top: 10px;
	left: 14px;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
.text-box:focus ~ label{
	font-size: 12px;
	top: -18px;
	left: 14px;
	transition: 0.3s;
	color: #1da1f2;
}
.comment-field{
  position: relative;
  width: 90%;
  margin-top: 25px;
}

// チェックボックス
.form-group{
  width: 90%;
	margin: 2em auto;
	text-align: left;
}
.form-check{
  position: relative;
  margin-left: 7rem;
}
.form-check:hover{
  color: #1da1f2;
}

// レビュー機能
.field{
  width: 90%;
	margin: 1rem 1rem 1rem 8rem;
}


// search

.search-field{
  position: relative;
  margin: 20px 3%;
}

.form-class{
  width: 100%;
  display: inline-block;
  text-align: left;
  
  .item_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .item {
      width: 160px;
      font-size: 18px;
    }
    .item:hover{
      color: #1da1f2;
    }
  }
}

.tabs{
  width: 50%;
  margin: 10px auto;
  position: relative;
}
.tab-buttons span{
  font: 400 14px ;
  color: #8899a6;
  background: #192734;
  cursor: pointer;
  border-bottom: 2px solid #15181c;
  display: block;
  width: 25%;
  float: left;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.tab-content{
  width: 100%;
  height: 13rem;
  padding: 20px;
  background: #15202b;
  display: inline-block;
  font: 400 13px;
  color: #ffffff;
  text-align: center;
  
}
#lamp{
  width: 25%;
  height: 2px;
  background: #1da1f2;
  display: block;
  position: absolute;
  top: 40px;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}
#lamp.content2{
  left: 25%;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}
#lamp.content3{
  left: 50%;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}
#lamp.content4{
  left: 75%;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}
#lamp.content1{
  left:0;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}