// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  margin-bottom: 4rem;
  padding: 1rem 2.5rem 2.5rem;
}
main{
  margin-top: 5rem;
}


.profile {
  width: 30%;
  margin: 0 auto;
}
.profile-img {
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0 auto;
}
.profile-name{
  text-align: center;
  font-weight: bold;
  font-size: 2.2rem;
  margin: 1rem auto 1rem;
  letter-spacing:.1rem;
}
.profile-introduction{
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.user-post{
  text-align: center;
  margin: 2rem;
}

