<div class="scroll-box">
  <section class="area">
    <h1 class="title">Yofukashi</h1>
    <p>
      夜景を投稿、シェアして楽しむwebサイトです。<br/>
      お気に入りの夜景や、夜散歩のスポットを投稿したり、<br/>
      みんなのおすすめの夜景を検索することができます。
    </p>
  </section>
</div>
