/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "slick-theme";
 @import "slick"; 
 
 
 

 html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #15202b !important;
  color: #ffffff !important;
  height: 100%;
}
// header関連
header {
　display: flex !important;
  width: 100%;
  padding: 30px 4% 10px;
  background-color: #192734;
  align-items: center;
}
// footer関連
footer{
  position: sticky;
  width: 100%;
  top: 100vh;
  background: #192734;
  text-align: center;
  padding: 3rem;
}
.small{
  color: #aaaaaa;
  font-size: 1rem;
}
.top-icon{
 margin: 0; padding: 0;
 font-size: 20px;
}
nav{
 margin: 0 0 0 auto;
}
 /**/
 .text-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  
 }
 
 .text-nav .header-text{
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  color: #ffffff;
  position: relative;
 }
 
 .text-nav .header-text:hover {
   color:#1da1f2;
 }
 
 .text-nav .header-text:after {
 	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 50%;
    background:#1da1f2;
    /*アニメーション*/
    transition: all .3s;
    transform: scale(0.04, 1);/*X方向0.04、Y方向1*/
    transform-origin:center bottom;/*中央下部基点*/
 }
 .text-nav .header-text:hover:after {
 	 height: 2px;
   border-radius: 0;/*丸みをなくす*/    
   transform: scale(0.8, 1);/*X方向0.8、Y方向1にスケール拡大*/
 }
 
 /*devise関連*/
 /**/
.form-area {
	width: 55%;
	margin: 0 auto;
}
.devise-field{
  position: relative;
  width: 90%;
  margin: 50px 3%;
}

.form-box{
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  letter-spacing: 2px;
  padding-left:6rem;
  border: 0;
	border-bottom: 1px solid #cccccc;
	background-color: transparent;
}
.form-box:focus{
  outline: none;
}
.focus-line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #1da1f2;
}
.form-box:focus ~ .focus-line{
  width: 100%;
  transition: 0.7s;
}

.form-box ~ label{
  position: absolute;
	z-index: -1;
	top: 4px;
	left: 10px;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
.form-box:focus ~ label{
  font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: #1da1f2;
}

.form-btn {
	margin: 30px;
	display: inline-block;
	width: 30%;
	line-height: 3em;
	cursor: pointer;
	user-select: none;
	transition: box-shadow 0.2s, transform 0.2s;
	color: #5252a5;
	border-width: 0;
	border-style: solid;
	border-radius: 12% / 50%;
	background: transparent;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.form-btn:hover {
	-webkit-transform: scale(1.02);
	        transform: scale(1.02);
	box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2);
	color: #ec407a;
}
.form-btn:active {
	transition-duration: 0.05s;
	-webkit-transform: scale(0.99);
	        transform: scale(0.99);
	box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15) inset;
}
.form-btn:focus,
.form-btn:focus:hover {
	color: #ec407a;
}
.actions{
    text-align: center;
}

.link-btn {
  　text-decoration: none;
    background: #192734;
    color: #8899a6;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    z-index:0;
    top: 30px;
}
.link-btn:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: #1da1f2;
    transition: .3s;
    left:0;
}

.link-btn:hover {
    color: #FFF;
    text-decoration: none;
}
.link-btn:hover:before {
    width: 100%;
    z-index: -1;
}