// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

section {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.top {
  background-image: url(tokyo-tower.jpg);
  text-align: center;
  padding-top: 10vh;
  color: #fcfcfc;
}

.previews{
  margin: auto;
}
.slider{
  width: 100vw;
  height: auto;
  margin: auto;
}
.slider img{
  width: 100px;
  height: 1000px;
}