// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// トップページ
.top {
  position: relative;
  }

.top p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-family: ibm-plex-mono,sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 40px;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  .top-title{
    font-size: 100px;
  }
}
// slick関連
.previews{
  margin: auto;
}
.slider{
  width: 100vw;
  height: auto;
  margin: auto;
}
.slider img{
  width: 100px;
  height: 1000px;
  filter: brightness(50%);
}
// アバウトページ
.scroll-box{
  background-image: url(yoru9.png);
  height: 100vh;
}
.section {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.area {
  text-align: center;
  padding-top: 20vh;
}
.title{
  font-family: ibm-plex-mono,sans-serif;
  font-weight: 100;
  font-style: italic;
}
  
  
  

    
  