// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.top {
  position: relative;
  }

.top p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-weight: bold;
  font-size: 5em;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.previews{
  margin: auto;
}
.slider{
  width: 100vw;
  height: auto;
  margin: auto;
}
.slider img{
  width: 100px;
  height: 1000px;
}