<p>プロフィール</p>

<div class="container">
  <side>
    <table class="table">
      <tr><%= image_tag @user.get_profile_image, size:'100x100',class: "profile-img" %></tr>
      <tr>
        <th><%= @user.name %></th>
      </tr>
      <tr>
        <td><%= @user.introduction %></td>
      </tr>
    </table>
      
    <%= link_to "プロフィールを編集", edit_public_user_path(current_user), class: "link-btn" %>
  </side>
  
  <main>
    
    <p>main</p>
    
  </main>
    
</div>